* {
  font-family: 'SF Mono','Fira Code','Fira Mono','Roboto Mono',monospace; 
  user-select: none;
  color: cyan;
}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.font{
  font-family: 'SF Mono','Fira Code','Fira Mono','Roboto Mono',monospace; 
}

.page{
  display: flex;
  flex-direction: row;
}

.fixe {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; /* Adjust as needed */
}

.canvas{
  position: fixed;
  width: 100%;
  z-index: 1;
  height: 100vh;
}

.foreground {
  display: flex;
  position: absolute;
  align-items: center;
  top: 0;
  left: 0;
  align-items: stretch;
  width: 100%;
}

.circle{
  user-select: none;
  z-index: 0;
  position: fixed;
  border: 1px solid white;
  border-radius: 30px;
  padding: 20px;
  top: 0;
  left: 0;
}